{#
/**
 * @file
 * Default theme implementation to present a tasks manager entity.
 *
 * This template is used when viewing a registered tasks manager's page,
 * e.g., /admin/content/tasks-manager)/123. 123 being the tasks manager's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_tasks_manager()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {% if task.add_time %}
    <p>
      <button type="button">
        <a href="/tasks/{{ task.id }}/time">{% trans "Enter Time Spent" %}</a>
      </button>
    </p>
    {% endif %}
    {{- content -}}
  {% endif %}
</article>
